.sprite_media_icons_audio_red {background: transparent url('/images/audio_icon_r.png') no-repeat 0 0;}
.sprite_media_icons_audio_white {background: transparent url('/images/audio_icon_w.png') no-repeat 0 0;}
.sprite_media_icons_audio_blue {background: transparent url('/images/audio_icon.png') no-repeat 0 0;}
.sprite_media_icons_video_red {background: transparent url('/images/video_icon_r.png') no-repeat 0 0;}
.sprite_media_icons_video_white {background: transparent url('/images/video_icon_w.png') no-repeat 0 0;}
.sprite_media_icons_video_blue {background: transparent url('/images/video_icon.png') no-repeat 0 0;}
.sprite_media_icons_gallery_red {background: transparent url('/images/gallery_icon_r.png') no-repeat 0 0;}
.sprite_media_icons_gallery_white {background: transparent url('/images/gallery_icon_w.png') no-repeat 0 0;}
.sprite_media_icons_gallery_blue {background: transparent url('/images/gallery_icon.png') no-repeat 0 0;}
.sprite_media_icons_live_white {background: transparent url('/images/livevideoindicationanim2.png') no-repeat 0 0;}
.sprite_media_icons_live_red {background: transparent url('/images/topstory_live_red.png') no-repeat 0 0;}
.sprite_media_icons_live_blue {background: transparent url('/images/homepageministrip_live_blue.png') no-repeat 0 0;}
.sprite_media_icons_xnet_video_red {background: transparent url('/images/xnet/strip/video_icon_strip.png') no-repeat 0 0;}